@import "../css/normalize.css";
@import "../fonts/sen.css";
body {
  font-family: 'Sen', sans-serif;
  background-color: #f6f6f6;
  box-sizing: border-box;
  transition: .3s ease;
}

body.locked {
  overflow: hidden;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #cecece;
  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__form {
    position: relative;
    label {
      font-size: 20px;
    }
  }

}

.form-search {
  &__input {
    padding: 10px;
    font-size: 15px;
    color: #2e2e2e;
    margin: 0 35px 0 0;
    border: 1px solid #2e2e2e;
    &.error{
      border: 1px solid orangered;
    }
    &:focus {
      outline: none;
    }
  }
  &__error {
    position: absolute;
    bottom: -28px;
    left: 115px;
    font-size: 12px;
    display: none;
    &.active {
      display: block;
    }
  }
  &__btn {
    text-decoration: none;
    color: #f6f6f6;
    background-color: #2e2e2e;
    padding: 10.4px 10px;
    position: absolute;
    top: 0;
    right: 0;
    &:hover {
      background-color: #464646;
    }
  }

}

.modal {
  &__error {
    background-color: #ffffff;
  }
}

.post {
  border-bottom: 2px solid gray;
  margin-bottom: 50px;
  padding: 10px 0 30px 0;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: #2e2e2e;
    text-transform: uppercase;
  }

  &__user {
    color: dimgray;
    font-size: 20px;
    font-weight: 500;
  }

  &__id {
    color: mediumpurple;
  }

  &__body {
    font-size: 18px;
    color: dimgray;
    line-height: 1.5;
  }

  &__show-comments {
    color: #773652;
    text-decoration: none;
    font-weight: 600;
  }

  &__show-comments:hover {
    color: #65abab;
  }
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.error {
  color: red;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(94, 94, 94, .7);
  display: none;
  &.modal.active {
    display: block;
  }
  &__content {
    width: 700px;
    height: 400px;
    position: absolute;
    background-color: #65abab;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -350px;
    overflow: hidden;
    padding: 0 0 35px 0;
    transform: translateY(-200%);
    transition: .2s linear;
    &.active {
      transform: translateY(0);
    }
  }
  &__wrapper {
    height: 100%;
    padding: 0 25px 25px 25px;
    margin: 0 auto;
    position: relative;
    overflow: auto;
  }

  &__header {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
  }

  &__title {
    color: #2e2e2e;
  }

  &__close {
    height: 20px;
    position: absolute;
    right: 6px;
    font-size: 50px;
    color: #f6f6f6;
    cursor: pointer;
    line-height: 20px;
  }

  &__close:hover {
    opacity: .8;
  }
}

.comments__item {
  background: white;
  margin-bottom: 20px;
  padding: 5px 10px;
  border-radius: 5px;
}

.comment {
  &__name {
    font-weight: 600;
    text-transform: capitalize;
    color: #5d5d5d;
    margin: 0;
  }

  &__user {
    font-size: 14px;
    color: #773652;
    letter-spacing: 1.3px;
  }
}

.modal__wrapper {
  .post__title {
    font-size: 12px;
  }
}